In [2]:
import pandas as pd

In [3]:
import yfinance as yf

In [4]:
data = yf.Ticker("AAPL")

In [5]:
data

yfinance.Ticker object <AAPL>

In [6]:
data.info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '(408) 996-1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple Vision Pro, Apple TV, Apple Watch, Beats products, and HomePod, as well as Apple branded and third-party accessories. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts, as well as advertising services include third-party licensing arrangements and its own advertising platforms. In addition, the company offers various subscription-based services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV, which offers exclusive original content and live sports; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers and resellers. The company was formerly known as Apple Computer, Inc. and changed its name to Apple Inc. in January 2007. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 166000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 64,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2025,
   'totalPay': 16759518,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Kevan  Parekh',
   'age': 53,
   'title': 'Senior VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2025,
   'totalPay': 4034174,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sabih  Khan',
   'age': 58,
   'title': 'Senior VP & Chief Operating Officer',
   'yearBorn': 1967,
   'fiscalYear': 2025,
   'totalPay': 5021905,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 61,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2025,
   'totalPay': 5022482,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 58,
   'title': 'Senior Vice President of Retail & People',
   'yearBorn': 1967,
   'fiscalYear': 2025,
   'totalPay': 5037867,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ben  Borders',
   'age': 44,
   'title': 'Principal Accounting Officer',
   'yearBorn': 1981,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Kristin Huguet Quayle',
   'title': 'Vice President of Worldwide Communications',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 51,
   'title': 'Vice President of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 7,
 'boardRisk': 1,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1768176000,
 'compensationAsOfEpochDate': 1767139200,
 'irWebsite': 'http://investor.apple.com/',
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 248.34999,
 'open': 247.24,
 'dayLow': 244.68,
 'dayHigh': 249.41,
 'regularMarketPreviousClose': 248.34999,
 'regularMarketOpen': 247.24,
 'regularMarketDayLow': 244.68,
 'regularMarketDayHigh': 249.41,
 'dividendRate': 1.04,
 'dividendYield': 0.42,
 'exDividendDate': 1762732800,
 'payoutRatio': 0.1367,
 'fiveYearAvgDividendYield': 0.52,
 'beta': 1.093,
 'trailingPE': 33.20482,
 'forwardPE': 27.10944,
 'volume': 41688982,
 'regularMarketVolume': 41688982,
 'averageVolume': 46377416,
 'averageVolume10days': 49878560,
 'averageDailyVolume10Day': 49878560,
 'bid': 246.02,
 'ask': 249.98,
 'bidSize': 5,
 'askSize': 4,
 'marketCap': 3665126490112,
 'fiftyTwoWeekLow': 169.21,
 'fiftyTwoWeekHigh': 288.62,
 'allTimeHigh': 288.62,
 'allTimeLow': 0.049107,
 'priceToSalesTrailing12Months': 8.806992,
 'fiftyDayAverage': 269.7684,
 'twoHundredDayAverage': 235.02435,
 'trailingAnnualDividendRate': 1.02,
 'trailingAnnualDividendYield': 0.004107107,
 'currency': 'USD',
 'tradeable': False,
 'enterpriseValue': 3722806558720,
 'profitMargins': 0.26915002,
 'floatShares': 14750789909,
 'sharesOutstanding': 14697926000,
 'sharesShort': 112732788,
 'sharesShortPriorMonth': 129458559,
 'sharesShortPreviousMonthDate': 1764288000,
 'dateShortInterest': 1767139200,
 'sharesPercentSharesOut': 0.0076,
 'heldPercentInsiders': 0.01702,
 'heldPercentInstitutions': 0.64814,
 'shortRatio': 2.68,
 'shortPercentOfFloat': 0.0076,
 'impliedSharesOutstanding': 14776353000,
 'bookValue': 4.991,
 'priceToBook': 49.697453,
 'lastFiscalYearEnd': 1758931200,
 'nextFiscalYearEnd': 1790467200,
 'mostRecentQuarter': 1758931200,
 'earningsQuarterlyGrowth': 0.864,
 'netIncomeToCommon': 112010002432,
 'trailingEps': 7.47,
 'forwardEps': 9.14958,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 8.946,
 'enterpriseToEbitda': 25.719,
 '52WeekChange': 0.07909167,
 'SandP52WeekChange': 0.15024745,
 'lastDividendValue': 0.26,
 'lastDividendDate': 1762732800,
 'quoteType': 'EQUITY',
 'currentPrice': 248.04,
 'targetHighPrice': 350.0,
 'targetLowPrice': 205.0,
 'targetMeanPrice': 287.21902,
 'targetMedianPrice': 300.0,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 41,
 'totalCash': 54697000960,
 'totalCashPerShare': 3.702,
 'ebitda': 144748003328,
 'totalDebt': 112377004032,
 'quickRatio': 0.771,
 'currentRatio': 0.893,
 'totalRevenue': 416161005568,
 'debtToEquity': 152.411,
 'revenuePerShare': 27.84,
 'returnOnAssets': 0.22964,
 'returnOnEquity': 1.7142199,
 'grossProfits': 195201007616,
 'freeCashflow': 78862254080,
 'operatingCashflow': 111482003456,
 'earningsGrowth': 0.912,
 'revenueGrowth': 0.079,
 'grossMargins': 0.46905,
 'ebitdaMargins': 0.34782,
 'operatingMargins': 0.31647,
 'financialCurrency': 'USD',
 'symbol': 'AAPL',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'preMarketChange': 3.2722015,
 'preMarketChangePercent': 1.3192234,
 'preMarketPrice': 251.3122,
 'regularMarketChange': -0.30999756,
 'regularMarketDayRange': '244.68 - 249.41',
 'fullExchangeName': 'NasdaqGS',
 'averageDailyVolume3Month': 46377416,
 'fiftyTwoWeekLowChange': 78.82999,
 'fiftyTwoWeekLowChangePercent': 0.4658707,
 'fiftyTwoWeekRange': '169.21 - 288.62',
 'fiftyTwoWeekHighChange': -40.58,
 'fiftyTwoWeekHighChangePercent': -0.1406001,
 'marketState': 'PRE',
 'corporateActions': [],
 'preMarketTime': 1769435123,
 'regularMarketTime': 1769202001,
 'exchange': 'NMS',
 'messageBoardId': 'finmb_24937',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'gmtOffSetMilliseconds': -18000000,
 'market': 'us_market',
 'esgPopulated': False,
 'regularMarketChangePercent': -0.12482286,
 'regularMarketPrice': 248.04,
 'fiftyTwoWeekChangePercent': 7.909167,
 'dividendDate': 1762992000,
 'earningsTimestamp': 1769720400,
 'earningsTimestampStart': 1769720400,
 'earningsTimestampEnd': 1769720400,
 'earningsCallTimestampStart': 1769724000,
 'earningsCallTimestampEnd': 1769724000,
 'isEarningsDateEstimate': False,
 'epsTrailingTwelveMonths': 7.47,
 'epsForward': 9.14958,
 'epsCurrentYear': 8.26697,
 'priceEpsCurrentYear': 30.003738,
 'fiftyDayAverageChange': -21.728409,
 'fiftyDayAverageChangePercent': -0.08054468,
 'twoHundredDayAverageChange': 13.01564,
 'twoHundredDayAverageChangePercent': 0.055379964,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'averageAnalystRating': '2.0 - Buy',
 'cryptoTradeable': False,
 'hasPrePostMarketData': True,
 'firstTradeDateMilliseconds': 345479400000,
 'displayName': 'Apple',
 'trailingPegRatio': 2.5101}

In [7]:
data.calendar

{'Dividend Date': datetime.date(2025, 11, 12),
 'Ex-Dividend Date': datetime.date(2025, 11, 9),
 'Earnings Date': [datetime.date(2026, 1, 29)],
 'Earnings High': 2.8,
 'Earnings Low': 2.51,
 'Earnings Average': 2.67565,
 'Revenue High': 142741000000,
 'Revenue Low': 136656000000,
 'Revenue Average': 138469316990}

In [8]:
yf.download(["AAPL"], start="2023-01-01", end="2026-01-01")

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2023-01-03  123.211205  128.954553  122.324579  128.343772  112117500
2023-01-04  124.482025  126.747845  123.221050  125.004147   89113600
2023-01-05  123.161926  125.871055  122.905796  125.240568   80962700
2023-01-06  127.693565  128.353606  123.033867  124.137225   87754700
2023-01-09  128.215714  131.427273  127.959583  128.530965   70790800
...                ...         ...         ...         ...        ...
2025-12-24  273.809998  275.429993  272.200012  272.339996   17910600
2025-12-26  273.399994  275.369995  272.859985  274.160004   21521800
2025-12-29  273.760010  274.359985  272.350006  272.690002   23715200
2025-12-30  273.079987  274.079987  272.279999  272.809998   22139600
2025-12-31  271.859985  273.679993  271.750000  273.059998   27293600

[752 rows x 5 columns]

In [9]:
df = yf.download(["AAPL"], start="2023-01-01", end="2026-01-01")

[*********************100%***********************]  1 of 1 completed

In [10]:
df

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2023-01-03  123.211205  128.954553  122.324579  128.343772  112117500
2023-01-04  124.482025  126.747845  123.221050  125.004147   89113600
2023-01-05  123.161926  125.871055  122.905796  125.240568   80962700
2023-01-06  127.693565  128.353606  123.033867  124.137225   87754700
2023-01-09  128.215714  131.427273  127.959583  128.530965   70790800
...                ...         ...         ...         ...        ...
2025-12-24  273.809998  275.429993  272.200012  272.339996   17910600
2025-12-26  273.399994  275.369995  272.859985  274.160004   21521800
2025-12-29  273.760010  274.359985  272.350006  272.690002   23715200
2025-12-30  273.079987  274.079987  272.279999  272.809998   22139600
2025-12-31  271.859985  273.679993  271.750000  273.059998   27293600

[752 rows x 5 columns]

In [11]:
df_t = df.T

In [12]:
df_t

,Date,2023-01-03,2023-01-04,2023-01-05,2023-01-06,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-17,...,2025-12-17,2025-12-18,2025-12-19,2025-12-22,2025-12-23,2025-12-24,2025-12-26,2025-12-29,2025-12-30,2025-12-31
Price,Ticker,,,,,,,,,,,,,,,,,,,,,
Close,AAPL,1.232112e+02,1.244820e+02,1.231619e+02,1.276936e+02,1.282157e+02,1.287871e+02,1.315061e+02,1.314273e+02,1.327572e+02,1.339196e+02,...,2.718400e+02,2.721900e+02,2.736700e+02,2.709700e+02,2.723600e+02,2.738100e+02,2.734000e+02,2.737600e+02,2.730800e+02,2.718600e+02
High,AAPL,1.289546e+02,1.267478e+02,1.258711e+02,1.283536e+02,1.314273e+02,1.293092e+02,1.315258e+02,1.322646e+02,1.329148e+02,1.352496e+02,...,2.761600e+02,2.736300e+02,2.746000e+02,2.738800e+02,2.725000e+02,2.754300e+02,2.753700e+02,2.743600e+02,2.740800e+02,2.736800e+02
Low,AAPL,1.223246e+02,1.232210e+02,1.229058e+02,1.230339e+02,1.279596e+02,1.262159e+02,1.285211e+02,1.294866e+02,1.297033e+02,1.321366e+02,...,2.716400e+02,2.669500e+02,2.699000e+02,2.705100e+02,2.695600e+02,2.722000e+02,2.728600e+02,2.723500e+02,2.722800e+02,2.717500e+02
Open,AAPL,1.283438e+02,1.250041e+02,1.252406e+02,1.241372e+02,1.285310e+02,1.283241e+02,1.292994e+02,1.318903e+02,1.300677e+02,1.328261e+02,...,2.750100e+02,2.736100e+02,2.721500e+02,2.728600e+02,2.708400e+02,2.723400e+02,2.741600e+02,2.726900e+02,2.728100e+02,2.730600e+02
Volume,AAPL,1.121175e+08,8.911360e+07,8.096270e+07,8.775470e+07,7.079080e+07,6.389620e+07,6.945890e+07,7.137960e+07,5.780970e+07,6.364660e+07,...,5.013870e+07,5.163070e+07,1.446320e+08,3.657180e+07,2.964200e+07,1.791060e+07,2.152180e+07,2.371520e+07,2.213960e+07,2.729360e+07

In [13]:
df

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2023-01-03  123.211205  128.954553  122.324579  128.343772  112117500
2023-01-04  124.482025  126.747845  123.221050  125.004147   89113600
2023-01-05  123.161926  125.871055  122.905796  125.240568   80962700
2023-01-06  127.693565  128.353606  123.033867  124.137225   87754700
2023-01-09  128.215714  131.427273  127.959583  128.530965   70790800
...                ...         ...         ...         ...        ...
2025-12-24  273.809998  275.429993  272.200012  272.339996   17910600
2025-12-26  273.399994  275.369995  272.859985  274.160004   21521800
2025-12-29  273.760010  274.359985  272.350006  272.690002   23715200
2025-12-30  273.079987  274.079987  272.279999  272.809998   22139600
2025-12-31  271.859985  273.679993  271.750000  273.059998   27293600

[752 rows x 5 columns]

In [15]:
df.columns = df.columns.droplevel(1)

In [16]:
df

Price            Close        High         Low        Open     Volume
Date
2023-01-03  123.211205  128.954553  122.324579  128.343772  112117500
2023-01-04  124.482025  126.747845  123.221050  125.004147   89113600
2023-01-05  123.161926  125.871055  122.905796  125.240568   80962700
2023-01-06  127.693565  128.353606  123.033867  124.137225   87754700
2023-01-09  128.215714  131.427273  127.959583  128.530965   70790800
...                ...         ...         ...         ...        ...
2025-12-24  273.809998  275.429993  272.200012  272.339996   17910600
2025-12-26  273.399994  275.369995  272.859985  274.160004   21521800
2025-12-29  273.760010  274.359985  272.350006  272.690002   23715200
2025-12-30  273.079987  274.079987  272.279999  272.809998   22139600
2025-12-31  271.859985  273.679993  271.750000  273.059998   27293600

[752 rows x 5 columns]

In [17]:
df = df.reset_index()

In [18]:
df

Price       Date       Close        High         Low        Open     Volume
0     2023-01-03  123.211205  128.954553  122.324579  128.343772  112117500
1     2023-01-04  124.482025  126.747845  123.221050  125.004147   89113600
2     2023-01-05  123.161926  125.871055  122.905796  125.240568   80962700
3     2023-01-06  127.693565  128.353606  123.033867  124.137225   87754700
4     2023-01-09  128.215714  131.427273  127.959583  128.530965   70790800
..           ...         ...         ...         ...         ...        ...
747   2025-12-24  273.809998  275.429993  272.200012  272.339996   17910600
748   2025-12-26  273.399994  275.369995  272.859985  274.160004   21521800
749   2025-12-29  273.760010  274.359985  272.350006  272.690002   23715200
750   2025-12-30  273.079987  274.079987  272.279999  272.809998   22139600
751   2025-12-31  271.859985  273.679993  271.750000  273.059998   27293600

[752 rows x 6 columns]

In [20]:
df['name'] = "AAPL"

In [21]:
df

Price,Date,Close,High,Low,Open,Volume,name
0,2023-01-03,123.211205,128.954553,122.324579,128.343772,112117500,AAPL
1,2023-01-04,124.482025,126.747845,123.221050,125.004147,89113600,AAPL
2,2023-01-05,123.161926,125.871055,122.905796,125.240568,80962700,AAPL
3,2023-01-06,127.693565,128.353606,123.033867,124.137225,87754700,AAPL
4,2023-01-09,128.215714,131.427273,127.959583,128.530965,70790800,AAPL
...,...,...,...,...,...,...,...
747,2025-12-24,273.809998,275.429993,272.200012,272.339996,17910600,AAPL
748,2025-12-26,273.399994,275.369995,272.859985,274.160004,21521800,AAPL
749,2025-12-29,273.760010,274.359985,272.350006,272.690002,23715200,AAPL
750,2025-12-30,273.079987,274.079987,272.279999,272.809998,22139600,AAPL
751,2025-12-31,271.859985,273.679993,271.750000,273.059998,27293600,AAPL

In [22]:
df = df[["Date", "Open", "High", "Low", "cCose", "Volume", "name"]]
df.head()

KeyError: "['cCose'] not in index"